.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: var(--color-primary);
  color: var(--color-quaternary);
}

.title a {
  margin-left: 2rem; 
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-quaternary);
  text-decoration: none;
  transition: all 0.3s ease;
  background: linear-gradient(
    99.6deg,
    rgb(112, 128, 152) 10.6%,
    rgb(242, 227, 234) 32.9%,
    rgb(234, 202, 213) 52.7%,
    rgb(220, 227, 239) 72.8%,
    rgb(185, 205, 227) 81.1%,
    rgb(154, 180, 212) 102.4%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.title a:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .title a {
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-left: 0.5rem; 
  }
}

@media (max-width: 480px) {
  .header {
    padding: 1rem;
  }

  .title a {
    font-size: 1.2rem; 
  }
}
