.wrapper {
  margin: 0 15px;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
}
